<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>

<h1>All Lists</h1>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <% if list.image.attached? %>
          <%= image_tag list.image.variant(resize_to_fill: [400, 250]), class: "card-img-top" %>
        <% else %>
          <%= image_tag "default_list_cover.jpg", class: "card-img-top" %> <!-- optional placeholder -->
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New List", new_list_path %>
